include LICENSE README.md
include TOOLS.json requirements-tested.txt run.cmd run.ps1 run.py run.sh
include preview.svg menu-preview.png command-preview.png
include tool-browser-preview.png tool-library.png
recursive-include src *.py *.png
recursive-include tests *.py
recursive-include tools *.py
recursive-include examples *.sparker *.tart *.png *.txt *.ansi
prune .venv
prune work
prune .idea
prune build
prune dist
global-exclude *.py[cod]
exclude painting.jpeg file-explorer-preview.png
